@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap%27');

body {
    background-color: rgb(25, 190, 240);
    color: white;
    font-family: 'Festive', cursive;
    text-align: center;
    font-size: 1.25em;
}

.header {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 100px;
    padding-bottom: 5px;
}

.from > .oinky {
    font-family: sans-serif;
    line-height: 0.5em;
    font-size: 50px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.name {
    font-size: 70px;
    padding-top: 0px;
    margin-top: 5px;
}

.text {
    font-size: 50px;
    padding:0px;
    margin:0px;
}

.from > .tbob {
    margin-top: 10px;
    padding-top: 10px;
}
