@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap%27');

body {
    background-color: rgb(25, 190, 240);
    color: white;
    font-family: 'Festive', cursive;
    text-align: center;
    font-size: 1.25em;
}

.header {
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 100px;
    padding-bottom: 5px;
}

.cake {
    margin: 10px;
    padding: 5px;
}

.hbdtext {
    font-size: 40px;
}

.from > * {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 33rem;
    padding: 12px 16px;
    
}

.from > .oinky {
    font-family: sans-serif;
    font-size: 50px;
}

.from > .oinky > i {
    padding-bottom: 10px;
}

.name {
    font-size: 70px;
    padding-top: 0px;
    margin-top: 5px;
}

.text {
    font-size: 50px;
    padding:0px;
    margin:0px;
}

.from > .hoeen {
    font-family: monospace;
    padding: 5px;
    margin: 0px;
    font-size: 30px;
}

.from > .hoeen > .name {
    color: #009900;
    padding-bottom: 5px;
}

.from > .kraken > .name {
    font-family: "Comic Sans MS";
    color: #000077;
}

.from > .kraken {
    font-family: "Comic Sans MS";
    color: #000077
}

.from > .turtle {
    font-family: "Comic Sans MS";
}

.from > .deegee {
    font-family: Calibri, sans-serif;
}

.from > .tulip > .text {
    font-size: 40px;
}

.from > .stormy > .text {
    font-size: 35px;
}

.from > .jpg {
    font-family: "Comic Sans MS";
    color: #6fff00
}
